$blue: hsl(223, 87%, 63%);
$pale-blue: hsl(223, 100%, 88%);
$light-red: rgb(255, 82, 99);
$gray: hsl(0, 0%, 59%);
$very-dark-blue: hsl(209, 33%, 12%);
$font-weight:("light":300, "normal":600, "bold":700);